extends ../layouts/default
include ../mixins/testimonial
include ../mixins/client
include ../mixins/scrollspy-page

block content
  #About
    -if(page.profileImage != undefined || page.tagline != undefined){
    .jumbotron(data-auto='false'): .container-fluid
      .row
        .col-xs-8.col-xs-offset-1.col-sm-4.col-sm-offset-1.col-md-4.col-md-offset-1
          -if(page.profileImage != undefined){
          img(src= page._.profileImage.limit(200,200)).img-circle.img-responsive
          -}
        .col-xs-12.col-sm-6.col-md-6.left-border
          blockquote
            -if(page.tagline != undefined){
            h1
              |"#{page.tagline}"
            -}
    -}
    - if(page.images[0] != undefined){
      .top-bg-banner.full-center-bg(style="background-image:url(#{page.images[0].url})")
      -}
    +scrollspy-page(page)
      if sections.length
        section#sections
          .row.clearfix
            each section in sections
              article.col-sm-12
                h1= section.label
                p!= section.blurb
      if clients.length
        section#clients
          h1
            | Clients
          .row.clearfix
            each client in clients
              +client(client)
      if testimonials.length
        section#testimonials
          h1
            | Testimonials
          .row.clearfix
            each testimonial in testimonials
              +testimonial(testimonial)

block js
  script(src='/js/views/about.js')