//
   Created by ksespinola on 5/10/14.

mixin cycle2(images, id, overlay)
  div(id='#{id}')
    -if(overlay == true){
      .full-overlay.active
    -}
    .slideshow(data-cycle-center-horz="true", data-cycle-center-vert="true")
      each image in images
        img.cycle-slide(src= image.url)

mixin cycle2-template()
  script(id="cycle2-template").
    <% _.each(images, function(image){ %>
     <img src="<%= image.url %>" class="cycle-slide">
    <% }) %>
mixin pager-template()
  script(id="pagers-template").
    <% _.each(images, function(image){ %>
        <a href="#"><img src="<%= image.url %>" class="img-responsive" width=250 height=250></a>
    <% }) %>