//Created by ksespinola on 5/8/14.

mixin experience(experience)
  .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0
    article.card
      .card-body
        h1
          | #{experience.title} with #{experience.organization.name}
