#contact{
  #map-canvas{height:25vh; width:100%;}
  form{position:relative;}
  h2{position:fixed; top:10px; right:20px;}
}

@media (min-width:768px){
  #contact{
    #map-canvas{width:66%; height:100vh; }
  }
}