@import "./lesshat.less";
@import "../bootstrap/bootstrap.less";
@import "../reset.less";
@import "variables.less";

#Gallery{position:absolute; .size(100%,100%);
  &.overflow-hidden{overflow: hidden;}
  #ShowGallery{position:fixed; right:20px; .opacity(0); .transition(.3s all ease); cursor:pointer;
    &.active{.opacity(1)}
    &:hover{padding-top:15px;}
  }

  > .container-fluid{position:absolute; right:310px; left:0;}
  h2{font-size:1.7em}
  #Prev, #Next{position:fixed; top:40%; z-index:3000;}
  #Prev{right:5px}
  #Next{left:5px}
  #Info{width:75%; margin:0 auto; padding:1% 0;
    h1{font-weight:bold; font-size:1.8em;}
  }
  #Covers{position:fixed; right:0; width:25%; height:95vh; background: @bg-secondary; overflow:auto; padding-top:30px;}
  .secondary-nav{border-top-left-radius:10px; border-top-right-radius:10px;}
  .main-module{margin:20px auto 60px auto; .secondary-nav(); padding:85px 0 0 0;}
  .direction-btn{
    &.hidden{display:none;}
  }
  .cycle-pager{ text-align:center;
    img{ display:inline-block; margin-right:20px;}
    img:nth-child(3){margin-right:0;}
  }
}