// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;
@body-bg: #3A3333;
@gray-dark:#DADADA;
@nav-bg:#3F3F3F;
@input-bg:#3D3D3D;
@input-border:#2B2B2B;
@navbar-default-link-color:#B8B8B8;
@navbar-default-link-hover-color:#DFDFDF;

.full-width{
  width:100%;
}